<div class="sidebar" data-color="green" data-image="assets/img/sidebar-5.jpg">

  <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->


  <div class="sidebar-wrapper ">
    <div class="logo">

      <img class="autokitlogo" src="styles/img/autokit_logo.png">

    </div>

    <ul class="nav">
      <!--<li ng-class="activePage == 'Dashboard'? 'active' : ''">
        <a ng-href="#!main">
          <i class="glyphicon glyphicon-dashboard"></i>
          <p>Dashboard</p>
        </a>
      </li>-->
      <li ng-class="activePage == 'Balance'? 'active' : ''">
        <a ng-href="#!balance">
          <i class="glyphicon glyphicon-gbp"></i>
          <p>Balance log</p>
        </a>
      </li>
      <li ng-class="activePage == 'USSD'? 'active' : ''">
        <a href="#!ussd">
          <i class="glyphicon glyphicon-list-alt"></i>
          <p>USSD logs</p>
        </a>
      </li>
      <li ng-class="activePage == 'smssending'? 'active' : ''">
        <a href="#!smssending">
          <i class="glyphicon glyphicon-export"></i>
          <p>SMS sending </p>
        </a>
      </li>
      <li ng-class="activePage == 'smsdelivery'? 'active' : ''">
        <a href="#!smsdelivery">
          <i class="glyphicon glyphicon-import"></i>
          <p>SMS delivery</p>
        </a>
      <li class="dropdown-content">
      </li>

      </li>


      <!--* * * * *  * * *-->
      <li data-toggle="collapse" data-target="#products" ng-class="activePage == 'sms_rejectingsender'? 'active' :(activePage == 'sms_rejectingreceiver'? 'active' : '')">
        <a><i class="glyphicon glyphicon-remove-circle"></i>
          <p id="dropdownicon">SMS rejecting <span class="glyphicon glyphicon-chevron-down"></span></p></a>
      </li>

      <ul class="nav nav-pi/p> nav-stacked collapse" id="products">
        <li class="active "><a href="#!sms_rejectingsender"><i class="glyphicon glyphicon-export"></i>Search by sender</a></li>
        <li class="active "><a href="#!sms_rejectingreceiver"><i class="glyphicon glyphicon-import"></i>Search by receiver</a></li>
      </ul>

      <!--* * * * * * * * *-->

      <li class="active-pro">
        <a href="#!documentation">
          <i class="glyphicon glyphicon-folder-open"></i>
          <p>DOCUMENTATION</p>
        </a>
      </li>
    </ul>
  </div>
</div>
</div>
