<div class="main-panel">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">

        <a class="navbar-brand" href="#">Documentation</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">

        </ul>

      </div>
    </div>
  </nav>


  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="header">
              <div class="col-xs-10">
                <h4 class="title">SMS delivery Status</h4>
                <p class="category">Here is a list of SMS delivery statuses.</p>
                <p class="category">Compare with statuses in  SMS sections. Search by status code.</p>
                <p class="category">Statuses' reasons are described in <a href="#!last_result_codes"> "Last result codes"</a> section.</p>
              </div>

            </div>
            <div class="content table-responsive table-full-width">
              <table class="table table-striped">
                <thead>
                <th>Code</th>
                <th>Type</th>
                <th>description</th>

                </thead>
                <tbody>
                <tr>
                  <td> 3</td>
                  <td> INTERNAL</td>
                  <td> Error</td>
                </tr>
                <tr>
                  <td> 4</td>
                  <td> INTERNAL</td>
                  <td> Expired</td>
                </tr>
                <tr>
                  <td> 5</td>
                  <td> INTERNAL</td>
                  <td> Delivered</td>
                </tr>
                <tr>
                  <td> 6</td>
                  <td> INTERNAL</td>
                  <td> Cancelled</td>
                </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

