<div class="main-panel">
  <!-- ********************* -->
  <!-- loading spinner -->
  <!-- ********************* -->

  <div class="loadingspinner" ng-show="showloader">
    <div class="row">
      <div class="col-lg-2">
        <i class="fa fa-spin fa-cog fa-3x fa-fw"></i>
      </div>
      <div class="col-lg-10">
        <p>Loading. Please wait...</p>
        <p>To cancel click <a ng-click="cancelAll()">here</a></p></div>
    </div>
  </div>

  <!-- ********************* -->

  <nav class="navbar navbar-default navbar-fixed">
    <div class="container-fluid">
      <!-- ********************* -->
      <!-- new navigation form -->
      <!-- ********************* -->

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <form >
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label class="navbar-brand">MSISDN</label>
                  <input ng-model="msisdn" id="msisdn" type="Number" class="form-control border-input" placeholder="MSISDN">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label class="navbar-brand">From Date</label>
                  <datepicker date-format="dd-MM-yyyy" >
                    <input class="form-control" ng-model="start" type="text" placeholder="01.01.1999"/>
                  </datepicker>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group ">
                  <label class="navbar-brand">To Date</label>
                  <datepicker date-format="dd-MM-yyyy" >
                    <input class="form-control" ng-model="end" type="text" placeholder="01.01.1999"/>
                  </datepicker>
                </div>
              </div>
              <div class="col-md-3" >
                <div class="form-group ">
                  <button type="button" class="btn btn-success btn-fill btn-wd  " ng-click="sendData()">Get data</button>
                </div>
              </div>
            </div>
          </form>

        </ul>

      </div>
    </div>
  </nav>

  <!-- ********************* -->
  <!-- END new navigation form -->
  <!-- ********************* -->

  <!-- ********************* -->
  <!-- START Main content area -->
  <!-- ********************* -->


  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="header">
              <div class="col-xs-10">
                <h4 class="title">SMS sending</h4>
                <p class="category">Here is a log for your mentioned period</p>
              </div>


            </div>
            <div class="content table-responsive table-full-width">
              <table class="table table-striped">
                <thead>
                <th>ID</th>
                <th>SMS sent time</th>
                <th>SMS delivery time</th>
                <th>Sender</th>
                <th>Receiver</th>
                <th>SMS text</th>
                <th>Status</th>
                <th>Attempts</th>
                <th>Last Result Code</th>
                <th>Segments</th>
                </thead>
                <tbody>
                <tr ng-repeat="(key,val) in getData">
                  <td>{{key +1}}</td>
                  <td>{{val.inSMSCopmV.smsFd | date : 'dd/MM/yyyy h:mm:ss a'}}</td> <!--sms sent time-->
                  <td>{{val.smsFd | date : 'dd/MM/yyyy h:mm:ss a'}}</td> <!--sms delivery time-->
                  <td>{{val.inSMSCopmV.sourceAddress}}</td> <!--source address-->
                  <td>{{val.inSMSCopmV.destinationAddress}}</td> <!--destination address-->
                  <td>{{val.inSMSCopmV.text}}</td> <!--text of sms-->
                  <td>{{val.status}}</td> <!--status of SMS-->
                  <td>{{val.attempt}}</td> <!--attempts-->
                  <td>{{val.lastResultCode}}</td>  <!--last Result Code-->
                  <td>{{val.segmentCnt}}</td> <!-- count of segments-->
                </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- ********************* -->
<!-- END Main content area  -->
<!-- ********************* -->






