<div class="main-panel">
  <!-- ********************* -->
  <!-- loading spinner -->
  <!-- ********************* -->

  <div class="loadingspinner" ng-show="showloader">
    <div class="row">
      <div class="col-lg-2">
        <i class="fa fa-spin fa-cog fa-3x fa-fw"></i>
      </div>
      <div class="col-lg-10">
        <p>Loading. Please wait...</p>
        <p>To cancel click <a ng-click="cancelAll()">here</a></p></div>
    </div>
  </div>

  <!-- ********************* -->
  <nav class="navbar navbar-default navbar-fixed">
    <div class="container-fluid">
      <!-- ********************* -->
      <!-- new navigation form -->
      <!-- ********************* -->

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <form >
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label class="navbar-brand">MSISDN</label>
                  <input ng-model="msisdn" id="msisdn" type="Number" class="form-control border-input" placeholder="MSISDN">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label class="navbar-brand">From Date</label>
                  <datepicker date-format="dd-MM-yyyy" >
                    <input class="form-control" ng-model="start" type="text" placeholder="01.01.1999"/>
                  </datepicker>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group ">
                  <label class="navbar-brand">To Date</label>
                  <datepicker date-format="dd-MM-yyyy" >
                    <input class="form-control" ng-model="end" type="text" placeholder="01.01.1999"/>
                  </datepicker>
                </div>
              </div>
              <div class="col-md-3" >
                <div class="form-group ">
                  <button type="button" class="btn btn-success btn-fill btn-wd  " ng-click="sendData()">Get data</button>
                </div>
              </div>
            </div>
          </form>

        </ul>

      </div>
    </div>
  </nav>


  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="header">
              <div class="col-xs-10">
                <h4 class="title">USSD log</h4>
                <p class="category">Here is a log for your mentioned period</p>
              </div>
              <div class="col-lg-1" >
                <div class="form-group ">
                  <button type="button" class="btn btn-success btn-fill btn-wd  " ng-click="showLogs()">Show Logs</button>
                </div>
              </div>
            </div>
            <div class="content table-responsive table-full-width">
              <table class="table table-striped">
                <thead>
                <th>#</th>
                <th>ID</th>
                <th>Type</th>
                <th>Status</th>
                <th>From date</th>
                <th>To date</th>
                <th>Action</th>
                </thead>
                <tbody>
                <tr ng-repeat="(key,val) in getData">
                  <td>
                    <input type="checkbox"
                           name=""
                           ng-model="val.selected"
                           ng-click="toggleSelection({key:key,val:val})">
                  </td>
                  <td>{{key +1}}</td>
                  <td>{{val.typ}}</td>
                  <td>{{val.status}}</td>
                  <td>{{val.fd | date : 'dd/MM/yyyy h:mm:ss a'}}</td>
                  <td>{{val.td | date : 'dd/MM/yyyy h:mm:ss a'}}</td>
                  <td>{{val.dtmfs}}</td>
                </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<div id="myModal" class="modal fade" role="dialog" >
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Selected data</h4>
      </div>
      <div class="modal-body">
        <p ><h3><b style="text-align: right;"><span class="glyphicon glyphicon-wrench"></span> This part is under construction</b></h3></p>
        <!--<p ng-repeat="selectedData in selected">
          After recharge at  <b><i>{{selectedData.val.fd | date : 'dd/MM/yyyy h:mm:ss a'}}</i></b>, the amount on balance was  <b>{{selectedData.val.total}} AMD</b>.
        </p>-->


      </div>
      <div class="clearfix"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>



